@import url('https://fonts.googleapis.com/css?family=Fira+Sans|Fira+Mono');

.App {
  text-align: center;
  margin:0 auto;
  max-width:960px;
  font-family:'Fira Sans';
}


code, .code {
  font-family:'Fira Mono';
}