.Introduction {
  max-width: 75vw;
  margin: 0 auto;
  text-align: left;
}

.Introduction section {
  margin: 1em;
}

.Introduction h1, h2, h3 {
  text-align: center;
  padding: 0.5em 0;
  margin: 0.5em 0;
}

.Introduction h1, h2 {
  border-bottom: 0.2em solid black;
}

.Introduction h3 {
  display: inline-block;
  vertical-align: middle;
  padding: 0.1em 0;
  margin-right:0.3em;
}

.Introduction svg {
  padding-right: 0.5em;
}

.Introduction iframe {
  margin: 0 auto;
  display: block;
}

.Introduction #experience ul {
  display: inline-block;
  vertical-align: top;
}

.Introduction #experience div {
  vertical-align: top;
  margin: 0.5em 1em;
}

.Introduction #experience li {
  background: #eee;
  display: inline-block;
  margin:0.75em 0.5em;
  padding: 0.25em 0.5em;
  border:1px solid #ddd;
  border-radius:2px;
  box-shadow:2px 2px 1px #efefef;
  font-size:0.75em;
  vertical-align: middle;
}

.Introduction #education p {
  margin: 1em 0;
  text-align: left;
}

.Introduction #contact p {
  margin: 0.5em 0;
}